# --- Configuración del Servidor ---
KF2_SERVER_NAME=Mi-Servidor-KF2
KF2_ADMIN_PASSWORD=TuPasswordSeguro
KF2_MAP=KF-BioticsLab

# --- Red y Puertos ---
# IP de la interfaz Bridge en la VM (ej. 192.168.1.81)
# Si se deja vacío, el script intentará detectarla automáticamente.
SERVER_IP=

# Puertos (Cambiar solo si es necesario)
PORT_GAME=7777
PORT_QUERY=27015
PORT_WEB=8080